@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@theme {
    /*--------------------------- CSS Variables ---------------------------- */
  --background: #f9f9ff;
  --foreground: #041b3c;

  /* Action Blue & Tonal Range */
  --color-primary: #003D9B;
  --color-primary-container: #0052CC;
  --color-surface-highest: #D7E2FF;
  --color-surface-low: #F1F3FF;
  --color-background: #F9FDFF;

  /* Slate Neutrals */
  --color-neutral-dark: #041B3C;
  --color-neutral-medium: #4F5F7B;
  --color-neutral-light: #C3C8D6;

  /* Semantic Colors */
  --color-success: #52F7B5;
  --color-error: #B71C1C;
  --color-warning: #FFB300;

    /* Custom Spacing */
  --spacing-xs: 0.25rem; /*4px*/
  --spacing-sm: 0.5rem;  /*8px*/
  --spacing-md: 1rem;    /*16px*/
  --spacing-lg: 1.5rem;  /*24px*/
  --spacing-xl: 2rem;    /*32px*/

  /* typography */
  --font-sans: 'Inter', sans-serif;

    /* font-size */
  --heading-1: 3.5rem; /*56px*/
  --heading-2: 2rem; /*32px*/
  --heading-3: 1.125rem; /*18px*/
  --body: 1rem; /*14px*/
  --label: 0.6875rem; /*11px*/

  /* border radius */
  --rounded-2px: 0.125rem; /*2px*/
  --rounded-4px: 0.25rem; /*4px*/
  --rounded-8px: 0.5rem; /*8px*/
}

@theme inline {
  /* Action Blue & Tonal Range */
  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);
  --color-surface-highest: var(--surface-highest);
  --color-surface-low: var(--surface-low);
  --color-background: var(--background);

  /* Slate Neutrals */
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-medium: var(--neutral-medium);
  --color-neutral-light: var(--neutral-light);

  /* Semantic Colors */
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  /* Font variables */
  --text-heading-1: var(--heading-1);
  --text-heading-2: var(--heading-2);
  --text-heading-3: var(--heading-3);
  --text-body: var(--body);
  --text-label: var(--label);

  /* border-radius */
  --radius-2px: var(--rounded-2px); /*0.125rem = 2px*/
  --radius-4px: var(--rounded-4px); /*0.25rem = 4px*/
  --radius-8px: var(--rounded-8px); /*0.5rem = 8px*/

  /* spacing */
  --spacing-xs: var(--spacing-xs);
  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);
  --spacing-xl: var(--spacing-xl);
}

/*^----------------------------- utilities ----------------------------- */
@utility text-display-lg {
  @apply text-heading-1 font-bold leading-14 tracking-[-2.8px];
}

@utility text-headline-lg {
  @apply text-heading-2 font-semibold leading-10 tracking-normal;
}

@utility text-title-md {
  @apply text-heading-3 font-medium leading-6.75 tracking-normal;
}

@utility text-body-md {
  @apply text-body font-normal leading-[22.75px] tracking-normal;
}

@utility text-label-sm {
  @apply text-label font-bold leading-[16.5px] tracking-[1.1px];
}

@utility primary-gradient {
  @apply bg-linear-[135deg] from-primary to-primary-container;
  color: white;
}

/*----------------------------- base style ----------------------------- */
body {
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
}